@model Country

@{
    ViewBag.Title = "Delete Country";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header fleft">Страна не найден</h1>
        </div>
    </div>
    return;
}

<div class="breadcrumbs flat">
    @HtmlManager.DashboardBreadCrumbs(Html, Model, HtmlManager.DeleteLink(Html, Model))
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">Удалить страну</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>Вы уверены, что хотите удалить страну @Model.Translation.Ru ? Будут удалены все регионы и места, относящиеся к этой стране.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        @using (Html.BeginForm("ManageCountryDeleting", "Dashboard", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(id => Model.Id)
            <div class="form-group">
                @HtmlManager.SubmitButton()
                @HtmlManager.DefaultButton(Html.ActionLink("Назад", "Country", "Dashboard", new { id = Model.Id }, null))
            </div>
        }
    </div>
</div>